body{
  margin: 0;
}

.container{
  display: flex;
  align-items: center;
}

section.left, aside.right{
  height: 1000px;
  padding: 20px;
}

section.left{
  flex: 2.5;
  background-color: #EFECCA;
}

aside.right{
  flex: 1;
  background-color: #CEFFF8;
}

button{
  margin: 20px 0;
  cursor: pointer;
}


.form-group{
  display: none;
  border-top: 1px solid gray;
  padding: 10px 0;
}

.form-group.active{
  display: block;
}
