body{
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.left, aside.right{
  height: 1000px;
  padding: 20px;
}

section.left{
  flex: 2.5;
  background-color: #EFECCA;
}

aside.right{
  flex: 1;
  background-color: #CEFFF8;
}

button{
  margin: 20px 0;
  cursor: pointer;
}



