body{
  height: 100%;
  margin: 0;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
}

section.left, aside.right{
  min-height: 100%;
  padding: 20px;
}

section.left{
  flex: 2.5;
  background-color: #EFECCA;
}

aside.right{
  flex: 1;
  background-color: #CEFFF8;
}

button{
  cursor: pointer;
  margin: 20px 0;
}


.form-group{
  display: none;
  border-top: 1px solid gray;
  padding: 10px 0;
}

.form-group.active{
  display: block;
}

.form-group.new{
  display: block;
  border: 0;
}

section.left button{
  margin: 0;
}

section.left .form-group label{
  display: inline-block;
  margin: 0 20px 20px 0;
}

section.left .form-group button{
  display: block;
  margin: 0 0 40px 0;
}


